@import url('../node_modules/font-awesome/css/font-awesome.min.css')
@import '~normalize.css'

@import '~@/stylus/global'

// from webpack global setting
// @import '~styl/variables' 
// @import '~styl/extends'