$mobile-break-point = 768px
$pad-break-point = 1024px

$black = #000
$dark-gray = #888
$light-gray = #b4b4b4
$white = #fff
$green = #4ba193
$light-green = lighten($green, 15%)
$dark-green = darken($green, 15%)